<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Afex Retreat : Hackathon</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- {% static 'request_dashboard/public/icons/note-green.svg'%} -->
    <!--===============================================================================================-->
    <link
            rel="icon"
            type="image/png"
            href="{% static 'images/icons/favicon.ico' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'vendor/animate/animate.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'vendor/select2/select2.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/util.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/main.css' %}"
    />

    <style>
        label {
            display: inline-block;
            margin-bottom: 0.5rem;
            margin-top: 20px;
        }
    </style>

    <style>
        /* Add a black background color to the top navigation */
        .topnav {
            background-color: #333;
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }
    </style>
    <!--===============================================================================================-->
</head>

<body>
{% include 'trade/navbar.html' %}
{% include 'trade/messages.html' %}

<div class="limiter">
    <div class="container-table100">
        <form method="post" action="">{% csrf_token %}
            <h5 class="mb-3">Create Order Request</h5>
            <div class="card">
                <div class="card-header">
                    <h6>Enter Order Details</h6>
                </div>
                <div class="card-body">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
