{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible">
            <h5>
                {{ message.tags|title }}!</h5>
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}