<div class="topnav">
    <a class="active" href="{% url 'trade:cor_list' %}">Order Request List</a>
    <a href="{% url 'trade:create_order' %}">Create Order</a>
    <a href="{% url 'trade:matched_order_audit_report' %}">Audit Report</a>
    <a href="{% url 'trade:open_orders' %}">Open Orders</a>
</div>