<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Afex Retreat : Hackathon</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- {% static 'request_dashboard/public/icons/note-green.svg'%} -->
    <!--===============================================================================================-->
    <link
            rel="icon"
            type="image/png"
            href="{% static 'images/icons/favicon.ico' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'vendor/animate/animate.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'vendor/select2/select2.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/util.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/main.css' %}"
    />
    <!--===============================================================================================-->

    <style>
        /* Add a black background color to the top navigation */
        .topnav {
            background-color: #333;
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-deopen_orderation: none;
            font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<body>
{% include 'trade/navbar.html' %}
{% include 'trade/messages.html' %}
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver2 m-b-110">
                <div class="card-header">
                    <h4>Open Orders</h4>
                    <small>This data is being pulled from the in-memory database</small>
                </div>
                <div class="card-body">
                    <table data-vertable="ver2">
                        <thead>
                        <tr class="row100 head">
                            <th>TID</th>
                            <th>Client</th>
                            <th>Security</th>
                            <th>Order Type</th>
                            <th>Order Price</th>
                            <th>Total Units</th>
                            <th>Total Matched Units</th>
                            <th>Status</th>
                            <th>Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for open_order in open_orders %}
                            <tr class="row100">
                                <td class="column100 column1"
                                    data-column="column1">{{ open_order.tid }}</td>
                                <td class="column100 column2"
                                    data-column="column2">{{ open_order.cid }}</td>
                                <td class="column100 column3"
                                    data-column="column3">{{ open_order.security_code }}</td>
                                <td class="column100 column4"
                                    data-column="column4">{{ open_order.order_type }}</td>
                                <td class="column100 column5"
                                    data-column="column5">{{ open_order.order_price }}</td>
                                <td class="column100 column6"
                                    data-column="column6">{{ open_order.units }}</td>
                                <td class="column100 column7"
                                    data-column="column7">{{ open_order.matched_qty }}</td>
                                <td class="column100 column8"
                                    data-column="column8">{{ open_order.status }}</td>
                                <td class="column100 column9"
                                    data-column="column9">{{ open_order.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
