<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Afex Retreat : Hackathon</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- {% static 'request_dashboard/public/icons/note-green.svg'%} -->
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/icons/favicon.ico' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/animate/animate.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/select2/select2.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/util.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/main.css' %}"
    />
    <!--===============================================================================================-->
  </head>

  <body>
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100 ver2 m-b-110">
            <table data-vertable="ver2">
              <thead>
                <tr class="row100 head">
                  <th class="column100 column1" data-column="column1"></th>
                  <th class="column100 column2" data-column="column2">S/N</th>
                  <th class="column100 column3" data-column="column3">
                    Matched ID
                  </th>
                  <th class="column100 column4" data-column="column4">
                    Order Type
                  </th>
                  <th class="column100 column5" data-column="column5">
                    Matched Units
                  </th>
                  <th class="column100 column6" data-column="column6">
                    Matched Price
                  </th>
                  <th class="column100 column7" data-column="column7">
                    Audited
                  </th>
                  <th class="column100 column8" data-column="column8">
                    Audit Note
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="row100">
                  <td class="column100 column1" data-column="column1"></td>
                  <td class="column100 column2" data-column="column2">1</td>
                  <td class="column100 column3" data-column="column3">--</td>
                  <td class="column100 column4" data-column="column4">--</td>
                  <td class="column100 column5" data-column="column5">
                    8:00 AM
                  </td>
                  <td class="column100 column6" data-column="column6">--</td>
                  <td class="column100 column7" data-column="column7">
                    5:00 PM
                  </td>
                  <td class="column100 column8" data-column="column8">
                    8:00 AM
                  </td>
                </tr>

                <tr class="row100">
                  <td class="column100 column1" data-column="column1"></td>
                  <td class="column100 column2" data-column="column2">2</td>
                  <td class="column100 column3" data-column="column3">
                    5:00 PM
                  </td>
                  <td class="column100 column4" data-column="column4">
                    5:00 PM
                  </td>
                  <td class="column100 column5" data-column="column5">--</td>
                  <td class="column100 column6" data-column="column6">
                    9:00 AM
                  </td>
                  <td class="column100 column7" data-column="column7">--</td>
                  <td class="column100 column8" data-column="column8">--</td>
                </tr>

                <tr class="row100">
                  <td class="column100 column1" data-column="column1"></td>
                  <td class="column100 column2" data-column="column2">3</td>
                  <td class="column100 column3" data-column="column3">--</td>
                  <td class="column100 column4" data-column="column4">--</td>
                  <td class="column100 column5" data-column="column5">--</td>
                  <td class="column100 column6" data-column="column6">--</td>
                  <td class="column100 column7" data-column="column7">
                    2:00 PM
                  </td>
                  <td class="column100 column8" data-column="column8">
                    8:00 AM
                  </td>
                </tr>

                <tr class="row100">
                  <td class="column100 column1" data-column="column1"></td>
                  <td class="column100 column2" data-column="column2">4</td>
                  <td class="column100 column3" data-column="column3">
                    5:00 PM
                  </td>
                  <td class="column100 column4" data-column="column4">
                    5:00 PM
                  </td>
                  <td class="column100 column5" data-column="column5">--</td>
                  <td class="column100 column6" data-column="column6">
                    9:00 AM
                  </td>
                  <td class="column100 column7" data-column="column7">--</td>
                  <td class="column100 column8" data-column="column8">--</td>
                </tr>

                <tr class="row100">
                  <td class="column100 column1" data-column="column1"></td>
                  <td class="column100 column2" data-column="column2">5</td>
                  <td class="column100 column3" data-column="column3">--</td>
                  <td class="column100 column4" data-column="column4">--</td>
                  <td class="column100 column5" data-column="column5">
                    8:00 AM
                  </td>
                  <td class="column100 column6" data-column="column6">--</td>
                  <td class="column100 column7" data-column="column7">
                    5:00 PM
                  </td>
                  <td class="column100 column8" data-column="column8">
                    8:00 AM
                  </td>
                </tr>

                <tr class="row100">
                  <td class="column100 column1" data-column="column1"></td>
                  <td class="column100 column2" data-column="column2">6</td>
                  <td class="column100 column3" data-column="column3">
                    5:00 PM
                  </td>
                  <td class="column100 column4" data-column="column4">
                    5:00 PM
                  </td>
                  <td class="column100 column5" data-column="column5">--</td>
                  <td class="column100 column6" data-column="column6">
                    9:00 AM
                  </td>
                  <td class="column100 column7" data-column="column7">--</td>
                  <td class="column100 column8" data-column="column8">--</td>
                </tr>

                <tr class="row100">
                  <td class="column100 column1" data-column="column1"></td>
                  <td class="column100 column2" data-column="column2">7</td>
                  <td class="column100 column3" data-column="column3">--</td>
                  <td class="column100 column4" data-column="column4">--</td>
                  <td class="column100 column5" data-column="column5">--</td>
                  <td class="column100 column6" data-column="column6">--</td>
                  <td class="column100 column7" data-column="column7">
                    2:00 PM
                  </td>
                  <td class="column100 column8" data-column="column8">
                    8:00 AM
                  </td>
                </tr>

                <tr class="row100">
                  <td class="column100 column1" data-column="column1"></td>
                  <td class="column100 column2" data-column="column2">8</td>
                  <td class="column100 column3" data-column="column3">--</td>
                  <td class="column100 column4" data-column="column4">--</td>
                  <td class="column100 column5" data-column="column5">
                    8:00 AM
                  </td>
                  <td class="column100 column6" data-column="column6">--</td>
                  <td class="column100 column7" data-column="column7">
                    5:00 PM
                  </td>
                  <td class="column100 column8" data-column="column8">
                    8:00 AM
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
